* {
    margin: 0;
    padding: 0;
}

body {
    background-color:lightblue;
}

.header-items {
    display: flex;
    justify-content: space-around;
}

.header-items a {
    display: block;
    text-decoration: none;
    color: darkblue;
    font-size: 50px;
    padding-left: 10px;
    padding-top: 30px;
    margin-left: -25vw;
    cursor: pointer; 
}

.header-items a:hover {
    color: lightseagreen;
}

.header-items h1 {
    font-size: 40px;
    color: darkblue; 
    margin-left: -80vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.container-items {
    display: flex;
    background-color: lightsteelblue;
    text-align:center;
    width: 80%;
    margin:auto;
    padding: 2vw;
    font-size: 25px;
    line-height: 30px;
}

.destinations {
    border: solid azure;
}
.destinations h4 {
    font-size: 30px;
    padding: 15px;
    color: darkblue;
}
.destinations p {
    line-height: 40px;
}

.adventure {
    border: solid azure;
}
.adventure h4 {
    font-size: 30px;
    padding: 15px;
    color: darkblue;
}
.adventure p {
    line-height: 40px;
}

.cookie {
    border: solid azure;
}
.cookie h4 {
    font-size: 30px;
    padding: 15px;
    color: darkblue;
}
.cookie p {
    line-height: 40px;
}

.icons {
    color: darkblue;
    font-size: 40px;
    padding: 1vw;
}