* {
    margin: 0;
    padding: 0;
}

body {
    background-color:lightblue;
}

.header-items {
    display: flex;
    justify-content: space-around;
}

.header-items a {
    /* display: block; */
    text-decoration: none;
    color: black;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 50px;
    margin-left: -25vw;
    cursor: pointer;  
}

.header-items h1 {
    font-size: 25px;
    color: darkblue; 
    margin-left: -40vw;
}

.container-items {
    display: flex;
    background-color: lightsteelblue;
    text-align:center;
    margin:auto;
    font-size: 25px;
}

.destinations {
    border: solid azure;
}

.adventure {
    border: solid azure;
}

.cookie {
    border: solid azure;
}