* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vh;
    overflow-x: hidden;
}

/* header styles */
.about-me-header {
    background-color: lightblue;
    height: 80px;
}

.header-nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 50px;
    cursor: pointer;  
}

.header-nav a:hover {
    color: lightseagreen;
}
/* end header styles */

/* middle content styles */
.middle-content {
    display: flex;
    margin: 0 auto;
    font-family: "Josefin Sans" sans-serif; 
    font-size: 20px;
    height: 50vw;
    text-align: center;
    background-color: blueviolet;
}

.left-content {
    width: 70%;
}
/* end of middle content styles */

/* footer styles */
.about-me-footer {
    background-color: lightslategrey;
    display: flex;
    bottom:0;
    width:100%;
    padding: 3vw;
    margin: 0 auto;
   justify-content: center;
}

.about-me-footer a {
    text-decoration: none;
    font-size: 40px;
    display: block;
    display: flex;
    justify-content: space-around;
    margin-right: 4vw;
    cursor: pointer;
}

.about-me-footer a:hover {
    color: lightseagreen;
}
/* end of footer styles */