* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vh;
    overflow-x: hidden;
    font-family: "Josefin Sans" sans-serif; 
    font-family: 'Poppins', sans-serif; 
}

/* header styles */
.about-me-header {
    background-color: lightblue;
    height: 80px;
}

.header-nav a {
    display: block;
    text-decoration: none;
    color: darkblue;
    font-size: 50px;
    padding: 1vw;
    cursor: pointer;  
}

.header-nav a:hover {
    color: lightseagreen;
}
/* end header styles */

/* middle content styles */
.middle-content {
    display: flex;
    margin: 0 auto; 
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    background-color: lightskyblue;
}

.background h4 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 30px;
    color: darkblue;
}

.background-info {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    width: 80%;
    margin: 0 auto;
    padding: 2vw;
    color: black;
    line-height: 30px;
}

.content {
    border: 1px solid lightskyblue;
    box-shadow: 5px 10px lightskyblue;
    padding: 2vw;
    font-weight: bold;
}

.content i {
    color: darkblue;
    font-size: 40px;
}

.content i:hover{
    color: lightseagreen;
}

.content h5 {
    color: darkblue;
    font-size: 25px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.skills-interests h4 {
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 30px;
        color: darkblue;
}

.skills-interests {
    background-color:lightblue;
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: 0 auto;
    padding: 2vw;
}

.info {
    font-size: 20px;
    color: black;
    border: 1px solid lightskyblue;
    box-shadow: 5px 10px lightskyblue;
    padding: 2vw;
    line-height: 30px;
}

.info i {
    color: darkblue;
    margin-right: 1vw;
}

.info i:hover{
    color: lightseagreen;
}

.info h5 {
    font-size: 25px;
}
/* end of middle content styles */









/* footer styles */
.about-me-footer {
    background-color: lightslategrey;
    display: flex;
    bottom:0;
    width:100%;
    padding: 3vw;
    margin: 0 auto;
   justify-content: center;
}

.about-me-footer a {
    text-decoration: none;
    font-size: 40px;
    display: block;
    display: flex;
    justify-content: space-around;
    margin-right: 4vw;
    cursor: pointer;
}

.about-me-footer a:hover {
    color: lightseagreen;
}
/* end of footer styles */